<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kursa4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="kursa4.Properties.Settings.StorageConnectionString"
            connectionString="Data Source=DESKTOP-CRIO13I\SQLEXPRESS;Initial Catalog=Storage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kursa4.Properties.Settings.СкладConnectionString"
            connectionString="Data Source=DESKTOP-CRIO13I\SQLEXPRESS;Initial Catalog=Склад;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <kursa4.Properties.Settings>
            <setting name="color1" serializeAs="String">
                <value>39, 39, 58</value>
            </setting>
            <setting name="color2" serializeAs="String">
                <value>51, 51, 72</value>
            </setting>
            <setting name="textcolor" serializeAs="String">
                <value>White</value>
            </setting>
        </kursa4.Properties.Settings>
    </userSettings>
</configuration>